@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');


#body{
    background-color: black;
}
.header{
    width: auto;
    background-color: rgba(41, 38, 34, 0.768);
    padding-top: 30px;
    border-radius: 10px;
    height: 60px;
    padding-left: 1200px;
    align-items:center;
    gap:32px;   
    display: flex;
}
.header-nav-item{
    font-family: 'Sarala', sans-serif;
    text-decoration: none;
    color: aqua;
    font-weight: 400;
    font-size: 18px
}
.resumo{
    width: 500px;
    height: auto;
    background-color: beige;
    border-radius: 28px;
    margin-left: 680px;
    margin-top: 200px;
    box-shadow: 10px 10px 5px aqua;
}
#imagem{
    border-radius: 150px;
    width: 300px;
    margin-left: 90px;
    margin-top: 100px;
    box-shadow: 10px 10px 5px grey;
}
#hello{
    display: flex;
    text-align: center;
    font-weight: 400;
    font-size: 32px
}
#footer{
    font-family: 'Sarala', sans-serif;
    background-color: rgba(41, 38, 34, 0.768);
    width: auto;
    height: 60px;
    padding-left: 760px;
    padding-top: 30px;
    border-radius: 10px;
    margin-top: 900px;
    color: white;
}
#github{
    text-decoration: none;
    color:aqua;
}