*{
    box-sizing: border-box;
    font-family: 'Helvetica';
    margin: 0;
    padding: 0;
}

li{
    display: inline-block;
    font-weight: bold;
}

.logo{
    align-items: left;
    font-weight: bolder;
    font-size: larger;
    padding-left: 20px;
}

nav a{
    text-decoration: none;
    color: white;
}

header{
    background-color: #1c4b82;
    position: sticky;
    top: 0;
    height: 100%;
    padding: 15px;
    color: white;
}

footer{
    background-color: #1c4b82;
    position: sticky;
    top: 30px;
    height: 100%;
    padding: 15px;
    color: white;
}

main{
    background-color: rgba(53, 119, 144, 0.5);
    padding-top: 10%;
    padding-bottom: 5%;
}

#apresentation{
    text-align: center;
    font-size: 40px;
}

#hand{
    width: 40px;
    height: 40px;
}

#me{
    margin-top: 40px;
    border-radius: 50%;
    width: 250px;
    border: 3px solid orangered;
    margin-bottom: 90px;
}

.title{
    text-align: center;
    font-size: 30px;
    color: whitesmoke;
}

.hello{
    font-size: 40px;
}

.resume{
    color: whitesmoke;
    font-size: 20px;
    text-align: justify;
    margin: 0 40px 40px 40px;
}

.know_more{
    border: 2px solid #1c4b82;
    padding: 10px;
    font-size: large;
    border-radius: 10px;
    background-color: #1c4b82;
    color: whitesmoke;
    box-shadow: 3px 3px;
}

.know_more:hover{
    background-color: whitesmoke;
    color: #1c4b82;
}

a:hover{
    color: #1c4b82;
}

a{
    text-decoration: none;
    color: whitesmoke;
}