*{
    box-sizing: border-box;
    font-family: 'Helvetica';
    margin: 0;
    padding: 0;
    font-size: 16px;
    scroll-behavior: smooth;
}


footer{
    background-color: #1c4b82;
    position: sticky;
    top: 30px;
    height: 100%;
    padding: 15px;
    color: white;
}

main{
    background-color: #1A4CFF;
    padding-top: 10%;
    padding-bottom: 5%;
}

#apresentation{
    text-align: center;
    font-size: 40px;
}

#hand{
    width: 40px;
    height: 40px;
    animation: ola 0.7s infinite;
}

#me{
    margin-top: 40px;
    border-radius: 50%;
    width: 250px;
    border: 3px solid orangered;
    margin-bottom: 90px;
}

.title{
    text-align: center;
    font-size: 30px;
    color: whitesmoke;
    padding-top: 10px;
}

.hello{
    font-size: 40px;
}

.resume{
    color: whitesmoke;
    text-align: justify;
    margin: 0 40px 40px 40px;
}

a:hover{
    color: rgb(173, 173, 173);
}

a{
    text-decoration: none;
    color: whitesmoke;
}

h3{
    color: whitesmoke;
    font-size: 30px;
    padding-bottom: 30px;
}

.contact{
    width: 40px;
    display: inline-block;
    margin: 70px 40px;
}

.contact:hover{
    box-shadow: 2px 2px;
    color: whitesmoke;
}

.area-1, .myResume, #skills, #contact{
    visibility: hidden;
}

.resume::after{
    content: '|';
    margin-left: 3px;
    opacity: 1;
    animation: pisca .7s infinite;
    color: black;
}

@keyframes pisca{
    0%, 100%{
        opacity: 0%;
    }

    50%{
        opacity: 100%;
    }
}

@keyframes ola{
    0%{
        rotate: 0deg;
    }

    50%{
        rotate: 35deg;
    }

    100%{
        rotate: 0deg;
    }
}